body{font-family: 'Lato', sans-serif;}

.container {
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

li {
	display: inline-block;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 24px;
}

.project, .about, .contact, .location {
	padding: 80px 0;
}

/*** Header style ***/
header {
  background-color: #e3e3e3; /* QUITAR */
  height: 700px;
}

nav {
	position: fixed;
	width:100%;
  background-color: #444;
  color: white;
  font-size: 24px;
  overflow: auto;
  padding: 20px 0px;
  text-transform: uppercase;
  z-index: 1;
}

nav ul {
	float: right;
}

nav ul li {
  margin-right: 25px;
}

.title {
	padding: 200px 0
}

.title h1 {
	padding: 40px 0;
}

/*** Project section ***/
.project h2, .about h2 {
  margin-bottom: 20px;
}

.project article {
	display: inline-block;
	width: 33%;
  position: relative;
  vertical-align: top;
}

.project h3 {
	position: absolute;
	top: 50%;
	left: 40%;
	color: violet; /* QUITAR */
}

/*** About ***/
.about, footer {
  background-color: #394450;
	color: white;
}

.about .img-profile {
	width: 30%
}

.about .desc-profile {
	display: inline-block;
	vertical-align: top;
	width: 60%;
	text-align: left;
	font-size: 18px;
	box-sizing: border-box;
  padding-left: 40px;
}


/*** FORM CONTACT ***/

.contact .form, footer article {
  display: inline-block;
  width: 49%;
  vertical-align: top
}

.contact .form input {
	display: block;
  width: 90%;
  height: 25px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px 10px;
  border: 1px solid #e3e3e3;
  font-size: 25px;
}

.contact .form textarea {
	width: 80%;
  height: 200px;
  border: 1px solid #e3e3e3;
  padding: 10px 10px;
  font-size: 20px;
}

.contact h2{
	margin-bottom: 45px;
}

.contact .btn {
    width: 115px;
    height: 40px;
    font-size: 24px;
    margin-top: 25px;
}

/*** footer **/
footer {
	font-size: 24px;
}

.iconos {
	font-size: 40px;
	margin-right: 10px;
}



@media screen and (max-width: 768px) {

	.container {
		max-width: 755px;
	}

	.project article {
		width: 49%;
	}

	.contact .form {
		display: block;
		width: 100%;
	}

	.contact .form textarea {
		width: 90%;
	}

}


@media screen and (max-width: 375px) {

	.container {
		max-width: 365px;
	}

	nav ul {
		float: none;
	}

	nav ul li {
		display: block;
		margin-top: 5px;
	}

	.project article {
		width: 100%;
	}

	.about img {
		display: none;
	}

	.about .desc-profile {
		padding: 0;
	}

	footer article {
		display: block;
		width: 100%;
	}

	footer ul {
		margin-top: 15px;
	}

}


